// TODO: Figure out how to make the sidebar look not extend the whole way of the page but still scroll on app-root

mat-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav-container {
  background: none;
  min-height: calc(100vh - 64px);
}