<section style="margin-top: 10px; text-align: right;">
  <button mat-icon-button><mat-icon>edit</mat-icon></button>add toggle for editing
  <a mat-icon-button routerLink="playlists/new"><mat-icon>add</mat-icon></a>
</section>
<section id="playlists">
  <mat-card *ngFor="let playlistGroup of playlistGroups">
    <mat-card-content>
      <mat-grid-list cols="2" gutterSize="10px">
        <mat-grid-tile *ngFor="let image of playlistGroup.images">
          <img src="{{image}}" alt="" /><!-- className={isEditing ? 'blurred' : ''} -->
        </mat-grid-tile>
      </mat-grid-list>
      <h2 style="text-align: center; z-index: 10;">
        {{playlistGroup.name}}
      </h2>
      <mat-action-list style="width: 100%;">
        <button mat-list-item *ngFor="let playlist of playlistGroup.Playlists">{{playlist?.name}}</button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #playlistCard>
  <mat-card>
    <mat-card-content>
      <!-- <StyledImageList cols={2} gap={10}> -->
      <!-- {getImages(playlistGroup).map((item) => (
          <ImageListItem key={item}>
            <img src={`${item}`} alt="" className={isEditing ? 'blurred' : ''} />
          </ImageListItem>
        ))} -->
      <!-- </StyledImageList> -->
      <h5 style="text-align: center;">
        <!-- {{playlistGroup.name}} -->
      </h5>
      <!-- <Box sx={{ flex: '1 0 auto', display: 'flex', justifyContent: 'center', position: 'relative' }}>
        <Fade in={isEditing}>
          <StyledContent sx={{ position: 'absolute' }}>
            <IconButton component={Link} to={`/playlists/${playlistGroup.id}`} size="large" edge="end" color="inherit" aria-label="menu" sx={{ mr: 2 }}>
              <Edit />
            </IconButton>
            <IconButton onClick={onDeleteClick} size="large" edge="end" color="inherit" aria-label="menu" sx={{ mr: 2 }}>
              <Delete />
            </IconButton>
          </StyledContent>
        </Fade>
        <Fade in={!isEditing}>
          <StyledContent>
            <List sx={{ width: '100%', position: 'absolute' }}>
              {playlistGroup.Playlists?.items?.map((p) => (
                <ListItem key={p?.id} disablePadding onClick={() => p && playPlaylist(p)}>
                  <ListItemButton>
                    <ListItemText primary={p?.name} />
                  </ListItemButton>
                </ListItem>
              ))}
            </List>
          </StyledContent>
        </Fade>
      </Box> -->
    </mat-card-content>
  </mat-card>
</ng-template>