<section style="margin-top: 10px; text-align: right;">
  <button mat-icon-button><mat-icon>edit</mat-icon></button>add toggle for editing
  <a mat-icon-button routerLink="playlists/new"><mat-icon>add</mat-icon></a>
</section>
<section id="playlists">
  <mat-card *ngFor="let playlistGroup of playlistGroups">
    <mat-card-content>
      <mat-grid-list cols="2" gutterSize="10px">
        <mat-grid-tile *ngFor="let image of playlistGroup.images">
          <img src="{{image}}" alt="" /><!-- className={isEditing ? 'blurred' : ''} -->
        </mat-grid-tile>
      </mat-grid-list>
      <h2 style="text-align: center; z-index: 10;">
        {{playlistGroup.name}}
      </h2>
      <mat-action-list style="width: 100%;">
        <button mat-list-item *ngFor="let playlist of playlistGroup.Playlists">{{playlist?.name}}</button>
      </mat-action-list>
    </mat-card-content>
  </mat-card>
</section>