<article>
  <app-home-title></app-home-title>
  <section id="sectionTwo">
    <mat-grid-list cols="2">
      <mat-grid-tile>Music for every moment</mat-grid-tile>
      <mat-grid-tile><img src="assets/audio-wave.png" alt="Audio Wave" height="200" /></mat-grid-tile>
    </mat-grid-list>
  </section>
  <section >
    <mat-grid-list cols="2">
      <mat-grid-tile id="musicNotesTile">
        <img id="fadingMusicNotes" src="assets/music-notes.png" alt="Music Notes" height="200" />
      </mat-grid-tile>
      <mat-grid-tile>
        Let it fade into the background
      </mat-grid-tile>
    </mat-grid-list>
  </section>
  <section id="sectionFour">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        Integrated with Spotify
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="assets/spotify.png" alt="Spotify Logo" height="200" />
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</article>


