section {
  padding: 16px;
  font-size: 40px;
  line-height: normal;
  background-color: none;
}

#musicNotesTile {
  overflow: visible;

  ::ng-deep .mat-grid-tile-content {
    justify-content: start;
  }
}

#sectionTwo {
  background: #F27048;
}

#sectionFour {
  background: #0B1340;
}

#fadingMusicNotes {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 25%, transparent 80%)
}